
h2 {
  color: #555;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
}

.portfolio a:hover {
  text-decoration: none;
}

.portfolio h2:hover {
  color: #343a40;
}

.demo-site {
  margin-bottom: 50px;
}

.navbar {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px
}


.site-img-container {
  margin-bottom: 5px
}

.site-img {
  max-height: 100%;
  max-width: 100%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


main {
  margin-top: 87px;
}


.biography .portfolio {
  padding-top: 20px;
}

.ref-links a {
  color: grey;
  font-size: 35px;
}

.ref-links a:hover {
  color: #343a40;
}

.repo-btn {
  display: inline-block;
  background-color: #bbb;
  color: #343a40;
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 7px;
}

.repo-btn:hover {
  background-color: #999;
  color: #343a40;
}

.repo-btn:active {
  background-color: #343a40;
  color: #ddd;
}